<head>
<h5><%= link_to "SignUp", signup_path%></h5>
</head>
<h1>Yay, Freelancer,</h1>
<h2> you've found a way to Co-Office! </h2>
<h1> Share. Connect. Change the world.</h1>
<h2><%= image_tag "pinboard.png" %></h2>
