<head>
  <%= link_to "SignUp", signup_path %>
  <p> Already a member? <%= link_to "SignIn!", signin_path %></p>
</head>
<h1>PINBOARD page</h1>
<p>Check the Pinboard. Dont forget to sign in so you can comment on Pins</p>
<p><%= image_tag "pinboard.png" %></p>
